.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.class
*.pyc
*.swp
.atom/
.buildlog/ 
.history
.svn/
.swiftpm/
migrate_working_dir/

app.*.symbols

app.*.map.json

**/doc/api/
**/ios/Flutter/.last_build_id
/coverage/

*.log
*.svg.py
*.pyc
__pycache__/


.idea/
*.iml
*.iws
out/
*.ipr
/android/app/debug
/android/app/profile
/android/app/release


.vscode/


.DS_Store
Thumbs.db


/android/local.properties
/android/key.properties
/android/app/src/main/res/raw/
/ios/.generated/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Flutter.podspec
/ios/Pods/
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*


*.pdf
*.png
*.mind

*.jks
*.keystore
*.p12
*.key